#!/bin/bash
# Cron job to git clone/pull a repo and then run locally

set -e
PATH={{ sys_path }}
export PATH
[ -x /usr/local/sbin/fuxi-update.sh ] || exit 0

# Run the update script
/usr/local/sbin/fuxi-update.sh 2>&1 >> {{ admin_logfile }}
