# Cron job to git clone/pull a repo and then run locally
PATH=/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin
{{ fuxi_update_schedule }} {{ admin_cron_user }} /usr/local/sbin/fuxi-update.sh >> {{ admin_logfile }} 2>&1
